@charset "UTF-8";

main{
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 20px;
    width: 400px;
    height: 450px;
    background-color: rgb(194, 192, 192);
    overflow: hidden;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.514);

    user-select: none;
}

.viewer{
    background-color: rgb(56, 55, 55);
    padding-left: 10px;
    height: 60px;
}

.viewer > div{
    position: relative;
    left: 90%;
    font-size: 55px;
    color: white;
}

/* ########################################### */

main > .buttons{
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.562);
    text-align: center;
}

main > .buttons > .symbols{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
}

main > .buttons > .numbers{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 300px;
}

/* ########################################### */

main > .buttons > .symbols > div{
    padding: 8px;
    background-color: #7fffd4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    margin-left: 8px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.342);
}

main > .buttons > .numbers > div{
    padding: 8px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin: 10px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.301);
}

main > .buttons > .symbols div:hover{
    cursor: pointer;
}

main > .buttons > .numbers div:hover{
    cursor: pointer;
}

/* ########################################### */

main > .buttons > .symbols #equal{
    position: absolute;
    border-radius: 150px;
    left: 78%;
    top: 31%;
    background-color: orange;
    height: 270px;
    width: 40px;
}

main > .buttons > .symbols #equal > p{
    position: absolute;
    top: 30%;
    left: 35%;
}